* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root h1 {
  color: crimson;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2d2d2;
  padding: 10px 100px;
  border-bottom: 2px solid #beb5b5;
}
input {
  padding: 10px 40px;
  border: none;
  border-radius: 35px;
  outline: none;
}
.inputGroup {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
img {
  width: 90px;
  height: 80px;
  border-radius: 100%;
} */

.logo {
  width: 60px;
}
.logo-name {
  font-style: italic;
  color: rgb(53, 51, 51);
}
.header-container {
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  list-style-type: none;
  margin: 0px 10px;
  padding: 3px 10px;
}
.nav-item:hover {
  background-color: rgb(206, 218, 207);
  border-radius: 35px;
  cursor: pointer;
}
.btn {
  font-size: 10px;
  font-weight: 700;
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 35px;
  border: 1.3px solid black;
  cursor: pointer;
  white-space: nowrap;
}
.top-container {
  width: 100%;
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e4b4b;
  padding: 5px 90px;
}
.contact-container {
  display: flex;
}
.phn-container {
  display: flex;
  margin: 0px 10px;
  gap: 5px;
}
.email-container {
  display: flex;
  gap: 5px;
}
.icon-container {
  display: flex;
  gap: 3px;
}
.phno,
.email {
  color: #f1e7e7;
  font-size: 12px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 30px;
  padding-top: 150px;
}
.menu-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.heading {
  font-size: 60px;
  font-weight: 300;
}
.menu-description {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #5b5252;
}
.menu-btn-container {
  display: flex;
  gap: 10px;
}
.btn-menu {
  cursor: pointer;
  background-color: white;
  border: 2px solid #e9e9e9;
  border-radius: 35px;
  padding: 8px 10px;
  font-size: 10px;
  font-weight: 700;
}
.btn-menu:hover {
  background-color: #841414;
  color: #e9e9e9;
}
.foodimg {
  width: 100%;
  height: 150px;
}
.card-list-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.card-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4b9b9;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.card-container:hover {
  border: 2px solid #c4b9b9;
  cursor: pointer;
}
.food-description {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price {
  font-size: 16px;
  color: brown;
  font-weight: 700;
}
.item-name {
  font-size: 18px;
}
.cuisine {
  color: #5b5252;
  font-size: 14px;
}
.partnerimg {
  width: 110px;
  height: 40px;
  border: 1px solid #c7b8b8;
}
.partner-container {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #f0eeee;
}
.partner-title {
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.partner-logo {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.partner-header {
  font-weight: 400;
  color: #414141;
}
.partner-footer {
  font-size: 12px;
  color: #9d8f8f;
}
.footer-container {
  background-color: #414141;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}
.col2-list-item {
  list-style-type: none;
  color: #f1e7e7;
  font-size: 13px;
  font-weight: 200;
}
.col4-list-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 50px;
}
.footer-col2,
.footer-col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 50px;
}
.footer-col4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-col2 > ul,
.footer-col3 > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-col4 > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  margin: 0px 100px;
  border-bottom: 2px solid #ebe5e5;
}
.searchBar {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 35px;
  background-color: #ddd7d7;
}
.close-btn {
  font-size: 20px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 16px;
  cursor: pointer;
}
.shimmer-card-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4b9b9;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.shimmer-food-description {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shimmer-price {
  width: 90px;
  height: 20px;
  background-color: #dfdada;
  border-radius: 20px;
}
.shimmer-item-name {
  width: 200px;
  height: 20px;
  background-color: #dfdada;
  border-radius: 20px;
}
.shimmer-cuisine {
  width: 230px;
  height: 20px;
  background-color: #dfdada;
  border-radius: 20px;
}
.shimmer-foodimg {
  width: 100%;
  height: 150px;
  background-color: #dfdada;
  border-radius: 10px;
}
